:root {

}
*{
    text-align: center;
}
section
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: #151719;
}
ul {
    display: flex;
    align-content: space-between;
    list-style: none;
}
a {
    text-decoration: none;
    margin: 0 5px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}
a:hover {
    background-color: cadetblue;
}
.call {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.callMochimaLeft {
    border-width: 3px 0px 3px 3px;
    border-style: double;
}
.callMochimaRight {
    border-width: 3px 3px 3px 0px;
    border-style: double;
}
table {
    border-collapse: collapse;
}
.fishbowl {
    height: 30px;
    border: 1px solid;
}
.borderTop {
    border-top: 2px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    padding-bottom: -5px;
}
.borderBottom {
    border-bottom: 2px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    padding-top: -5px;
}
.borderSupLeft {
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.borderSupRight {
    border-left: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.horizontalHallway {
    height: 20px;
}
.position {
    width: 50px;
    height: 20px;
}
.column {
    background-color: black;
}
.columnAisle {
    width: 30px;
    height: 30px;
    background-color: black;
    margin: 0 20px 0 20px;
}
.borderLeft {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 2px solid;
}
.borderRight {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 2px solid;
}
.borderSupTop {
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}
.borderSupBottom {
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}
.verticalHallway {
    width: 20px;
}
.borderTopE {
    border-top: 1px double;
}
.borderBottomE {
    border-bottom: 1px double;
}
.borderLeftE {
    border-left: 1px double;
}
.borderRightE {
    border-right: 1px double;
}