:root {
    /* colores primarios*/
    --indigo: #0b4f6c;
    --pastelGreen: #20bf55;
    --cyan: #01baef; 
    /*colores texto*/
    --white: #f4f9e9;
    --gray: #757575;
    --black: #1d1b1b;
}
*{
    text-align: center;
    color: var(--gray);
}
body{
    background-color: var(--white);
}
.logo {
    width: 150px;
    height: 60px;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: var(--indigo);
}
ul {
    display: flex;
    align-content: space-between;
    list-style: none;
}
a {
    text-decoration: none;
    margin: 0 5px;
    background-color: var(--cyan);
    border-radius: 5px;
    padding: 5px;
    color: var(--white);
}
a:hover {
    background-color: cadetblue;
}
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    width: 100%;
    height: 90%;
}
.loginBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--indigo);
    opacity: 0.9;
    width: 25%;
    height: 40%;
    border-radius: 20px;
    box-shadow:  2px 2px 6px 2px var(--cyan);
}
.loginBox h2 {
    color: var(--white);
}
.loginBox hr {
    margin-top: -20px;
   border-color : var(--cyan);
}
.loginBox input {
    all: unset;
    margin: 15px 0px;
    background-color: var(--white);
    border-radius: 5px;
}
.loginBox input::placeholder {
    color: var(--indigo);
}
.loginBox input:focus {
    border:1px solid var(--pastelGreen);
    box-shadow:  1px 1px 2px 1px var(--cyan);
}
.loginBox input:focus::placeholder{
    background-color: var(--gray);
    color: var(--white); 
}
.loginBox input[type=button] {
    background-color: var(--pastelGreen);
    height: 30px;
    width: 125px;
    color: var(--indigo);
}
.loginBox input[type=button]:hover {
    background-color: var(--cyan);
}
.call {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.callMochimaLeft {
    border-width: 3px 0px 3px 3px;
    border-style: double;
}
.callMochimaRight {
    border-width: 3px 3px 3px 0px;
    border-style: double;
}
table {
    border-collapse: collapse;
}
.fishbowl {
    height: 30px;
    border: 1px solid;
}
.borderTop {
    border-top: 2px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    padding-bottom: -5px;
}
.borderBottom {
    border-bottom: 2px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    padding-top: -5px;
}
.borderSupLeft {
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.borderSupRight {
    border-left: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.horizontalHallway {
    height: 20px;
}
.position {
    width: 50px;
    height: 20px;
}
.column {
    background-color: var(--black);
}
.columnAisle {
    width: 30px;
    height: 30px;
    background-color: var(--black);
    margin: 0 20px 0 20px;
}
.borderLeft {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 2px solid;
}
.borderRight {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 2px solid;
}
.borderSupTop {
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}
.borderSupBottom {
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}
.verticalHallway {
    width: 20px;
}
.borderTopE {
    border-top: 1px double;
}
.borderBottomE {
    border-bottom: 1px double;
}
.borderLeftE {
    border-left: 1px double;
}
.borderRightE {
    border-right: 1px double;
}